body {
    text-align: center;
    color: white ;
    background-color: deepskyblue;
    font-family: 'Kanit', sans-serif;
    align-items: center;
    margin: 20px 0px 0px 20px;
}
.Blog-header {
    align-items: center;
    border: 10px solid #FFC107 ;
    background-color: deepskyblue;
    padding: 20px;
    width: 75vw;
    margin: 20px auto;
}
#Mario {
    width: 900px; 
    height: 524px;
    object-fit: cover;
    object-position: -100% 0;
}
#Chart {
    width: 750px;
    height: 767px;
    object-fit: cover;
    object-position: -100% 56%;
}
.images {
    margin: 15px auto;
}
.ads {
    width: 808px;
    height: 400px;
    object-fit: cover;
    object-position: 100% 0;
    position: absolute;
}
#ad1 {
    left: 50px;
}
#ad2 {
    left: 1050px;
}