body {
    text-align: center;
    color: white ;
    background-color: deepskyblue;
    font-family: 'Kanit', sans-serif;
    align-items: center;
}
.Blogs {
    align-items: center;
    border: 10px solid #FFC107 ;
    background-color: deepskyblue;
    padding: 20px;
    width: 75vw;
    margin: 20px auto;
}
.Subtext {
    font-size: 150%;
}
.images {
    margin: 15px;
    max-width:100%;
    height:auto;
}
.ads {
    max-width:100%;
    height:auto;
    align-items: center;
}
#ad2 {
    position: absolute;
    left: 1635px;
    bottom: 500px;
    transform: rotate(90deg);
}